.mypage_box_section {
  font-family: "SUITE-Regular";
  width: 1325px;
  display: flex;
  grid-gap: 27px;
  gap: 27px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
  background-color: grey;
}

.mypage_main {
  font-family: "SUITE-Regular";
}

.mypage_title_list {
  font-family: "SUITE-Regular";
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.mypage_list_content {
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.78px;
  margin: 0px 0px 24px;
}

.mypageItem_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 25px 0;
  width: 300px;
  height: 340px;
  background: #fff;
  border: 2px solid #d1d1d1;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.mypage_list {
  width: 1325px;
  display: flex;
  grid-gap: 27px;
  gap: 27px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.mypage_item {
  display: flex;
  align-items: center;
  grid-gap: 3px;
  gap: 3px;
}

.study_method_badge {
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
}

.badge_study {
  font-family: "SUITE-Regular";
  border-radius: 20px;
  padding: 4px 12px;
  background: #efefef;
  color: #656565;
}

.mypage_studyItem_title {
  font-family: "SUITE-Regular";
  font-size: 20px;
  min-height: 50px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: -0.05em;
  margin: 7px 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.mypage_schedule {
  display: flex;
  font-size: 14px;
  grid-gap: 8px;
  gap: 8px;
  color: #999;
  font-weight: 500;
  margin-top: 20px;
}

.mypage_skill_content {
  font-family: "SUITE-Regular";
  margin-bottom: 24px;
  padding: 0;
  display: flex;
  grid-gap: 8px;
  gap: 8px;
  list-style: none;
}

.mypage_skill_language .mypage_skill_languageImage {
  width: 32px;
  height: 32px;
}
