.carousel-moment {
  width: 100%; /* 부모 요소의 너비를 100%로 설정합니다. */
}

.Moment_item {
  width: 300px;
  padding-left: 10%;
}
.M_item {
  display: flex;
  flex-direction: row; /* 아이템을 수평으로 배열합니다. */
  align-items: center; /* 아이템을 수직 가운데 정렬합니다. */
}
/* 추가한 스타일 */

.carousel-inner {
  display: flex;
  flex-wrap: wrap; /* Flex 컨테이너 내에서 각 아이템을 여러 행으로 나누기 위해 필요한 속성 */
}

.carousel-item {
  flex: 0 0 33.333%; /* 각 아이템이 부모 요소의 1/3만큼의 너비를 가지도록 설정 */
  max-width: 33.333%; /* 아이템의 최대 너비를 설정하여 공간을 균등하게 나눔 */
  display: flex;
  align-items: center; /* 아이템을 수직 가운데 정렬합니다. */
  justify-content: center; /* 아이템을 수평 가운데 정렬합니다. */
}
